main {
    box-sizing: border-box;
}

.jumbotron {
    background-color: rgb(131, 155, 133);
    padding: 10px;
}

.display-4 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.nav {
    display: flex;
    margin: auto 0;
    background-color: rgba(58, 65, 85, 0.692);
    padding: 2em;
    justify-content: space-evenly;
}

.startBtn {
    display: flex;
    margin-right: 50px;
}

.score {
    color: black;
    
}

.container {
    position: relative;
    width: 700px;
    margin: 0 auto;
    justify-content: center;
}

.outerCircle {
    position: relative;
    top: 170px;
    width: 640px;
    height: 640px;
    background-color: rgb(131, 155, 133);
    z-index: 0;
    border-radius: 310px;
    bottom: 125px;
    
}

.pad {
    width: 300px;
    height: 300px;
    float: left;
    z-index: 1;
    margin: 10px;
    opacity: 0.6;
    border: solid 2px black;
}

.blue {
    border-top-left-radius: 300px;
    background-color: blue;
}

.green {
   
    float: left;
    border-top-right-radius: 300px;
    background-color: green;
    clear: right;
}

.yellow {
    float: left;
    border-bottom-left-radius: 300px;
    background-color: yellow;
    clear: left;
}

.red {
    float: left;
    border-bottom-right-radius: 300px;
    background-color: red;
}